.App {
  text-align: center;
  overflow: scroll;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

input, textarea, canvas,a{
  text-align: left;
  display:block;
}
