#stars {
  height: 200%;
  position: relative;
  border-radius: 50%;
}

body {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #051729;
  background-image: radial-gradient(
    circle at 50% 120%,
    #fcfcbd,
    #104B88,
    #360349,
    #051729 60%
  );
}

.star {
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 2px;
  background-color: white;
  border-radius: 50%;
}

.star-anim{
  box-shadow: 0 0 10px white;
  animation-name: glow;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}


@keyframes glow {
  25% {
    opacity: 0.1;
  }
  50% {
    box-shadow: 0 0 40px white;
  }
}

@keyframes sky-rotate {
  100%{
    transform: rotate(360deg);
  }
}

.about-body{
  font-size:18px;
  padding-left:25px;
  padding-right:25px;
}

.about-body > a{
  color:blue;
}
.about-body > a, .about-body > div > a{
  color:blue;
}


#display-canvas{
  border:none;
  position:fixed;
  top:0;
  left:0;
  z-index:5;
  cursor: move;
  cursor: grab;
}

.web3-msg{
  font-size:16px;
  font-style: italic;
  display:inline-block;
  padding-left:15px;
  padding-right:15px;
}


#display-canvas:active{
  cursor: grabbing;
}

#grass-canvas{
  border:none;
  bottom:0;
  left:0;
  position:fixed;
  z-index:1;
  user-select: none;
}
.App {
  text-align: center;
  overflow: scroll;
}

.point-mouse{
  cursor: pointer !important;
}


form{
  min-width: 450px;
  max-width:650px;
  min-height:350px;

}

.big-lock {

  padding: 25px;
  margin-top:4%;
  background-color: #bf4040;
  position: absolute;
  transition: top 1s;
  border-radius: 7%;
  box-shadow: 0 5px 7px 1px rgba(0,0,0,.5);


}

.preview-lock{
  position:fixed;
  z-index: 100;
}

.preview-lock-body{
  min-width: 300px;
  max-width: 400px;
  max-height:200px;
}

.lock-coords{
  color:#000;
}

.animate-lock{
  transform: rotateY(180deg);
  top: -250px;
  transition: transform 1s 1s, top 1s;
}

.lock-bar {
  height: 350px; width: 320px;
  position: absolute;
  top: -230px;
  left: 41.5%;
  transform: rotateY(0deg);
  margin-left: -125px;
  border: 52px #bbb solid;
  border-bottom: none;
  border-radius: 150px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: -1;
  transition: transform 1s, top 1s 1s;
  transform-origin: 10% 50%;
}


.preview-bar {
  height: 275px; width: 300px;
  position: absolute;
  top: -150px;
  left: 41.5%;
  transform: rotateY(0deg);
  margin-left: -125px;
  border: 42px #bbb solid;
  border-bottom: none;
  border-radius: 150px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: -1;
  transition: transform 1s, top 1s 1s;
  transform-origin: 10% 50%;
  box-shadow: 0 0 10px 6px rgba(0,0,0,.5);

}

input {
  height: 50px;
  display: block;
  font: 18px sans-serif;
  outline: 0;
  border: none;
  border-radius: 7px;
  background-color: hsla(0, 0%, 5%, .3);
  box-shadow: 0 0 7px hsla(0, 0%, 5%, .1) inset;
  color: #eee;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}

input[type=submit] {
  cursor: pointer;
  width: 75%;
  background-color: hsla(0, 0%, 5%, .7);
  margin: 14px auto;
}

input[type=submit]:hover {
  box-shadow: 0 0 15px hsla(0, 0%, 100%, 1);
}

#lovers-cross{
  padding:7px;
  color:#fff;
}

.name-input{
  text-align: center;
  width:47.2%;
  display:inline;
}

input::placeholder,textarea::placeholder {
  color:  rgba(200,200,200,.6) !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}

textarea {
  height: 70px;
  width: 100%;
  display: block;
  margin: 14px auto;
  margin-bottom:20px;
  font: 18px sans-serif;
  /*text-align: center;*/
  outline: 0;
  border: none;
  border-radius: 7px;
  background-color: hsla(0, 0%, 5%, .3);
  box-shadow: 0 0 7px hsla(0, 0%, 5%, .0) inset;
  color: #eee;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  padding:5px;
  padding-left: 12px;
  resize:none;
}


.name-preview {
  width:47.2%;
  display:inline;
  margin: 14px auto;
  font: 30px sans-serif;
  text-align: center;
  color: #eee;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  overflow-wrap: break-word;
}



.msg-preview {
  height: auto;
  width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  font: 20px sans-serif;
  text-align: center;
  color: #eee;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  padding:15px;
  overflow-wrap: break-word;
  border-radius: 7px;
  background-color: hsla(0, 0%, 0%, .1);
  box-shadow: 0 0 7px hsla(0, 0%, 0%, .0) inset;

}

input:last-child {
  margin-top:40px;
  margin-bottom: 0;
}

#lock-canvas{
  background:black;
  min-width:200px;
  min-height:400px;
}

#canvas{
  width:100%;
  height:100%;
}


.modal{
  background-color: #eee;
  color:black;
  border-radius:7px;
  position: relative;
  margin:0 auto;
  padding: 0;
  display: block;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

.about-modal{
  background-color: #eee;
  color:black;
  border-radius:7px;
  position: relative;
  margin:0 auto;
  padding: 0;
  display: block;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

@media (min-width: 60em) {
  .modal{
    height: auto;
    margin: 7% auto;
    max-height: 56em;
    min-height: 38em;
    max-width: 95%;
    width: 65%;
    padding: 4em;
  }
  .about-modal{
    height: auto;
    margin: 7% auto;
    max-height: 56em;
    min-height: 38em;
    max-width: 95%;
    width: 45%;
    padding: 4em;
  }
}

.modal-overlay{
  background: rgba(0,0,0,0.8);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index:10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-overlay:target{
  display: block;
  opacity: 1;
  pointer-events:auto;
  z-index: 99999;
}

.about-overlay{
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index:10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-overlay:target{
  display: block;
  opacity: 1;
  pointer-events:auto;
  z-index: 99999;
}

#search{
  position: fixed;
  top:80px;
  right:25px;
  font-size:18px;
  width:310px;
  z-index:9;
  background: url("/search.png") left no-repeat;
  background-size: 37.5px 25px;
  padding-left:43px;
  background-color: hsla(0, 0%, 5%, .4);
  box-shadow: 2px 2px 1px rgba(0,0,0,.3);
}

#search:hover{
  background-color: hsla(0, 0%, 20%, .4);

}


#header{
  position: fixed;
  top:20px;
  right:30px;
  font-size:24px;
  padding-bottom:7px;
  width:auto;
  display:inline;
  z-index:9;
  color:#fff;
  opacity:.8;
}

#header > img{

  width:300px;
  height:auto;
}

#about-header{
  font-size:24px;
  padding-bottom:7px;
  z-index:9;
}

#about-header > img{
  width:300px;
  height:auto;
  display:block;
  margin:auto;
  padding-bottom:10px;
  top:-20px;
  position: relative;
}

.zoom{
  /*border-radius:100%;*/
  width:60px;
  height:60px;
  /*background-color: hsla(0, 0%, 80%, 0);*/
  position: fixed;
  bottom:20px;
  opacity:.77;
  z-index:9;
  /*box-shadow: 2px 2px 1px rgba(0,0,0,0);*/
}

.zoom:hover{
  cursor: pointer;
  opacity: 9;
}

.zoom > img{
  width:35px;
  top:12px;
  position: relative;
  height:auto;
}

#zoom-in{
  right:110px;
}
#zoom-out{
  right:180px;
}

#about-btn{
  width:60px;
  height:60px;
  padding-top:2px;
  position: fixed;
  bottom:20px;
  opacity:.77;
  z-index:9;
  right:40px;
  font-size: 40px;
  font-weight: 500;
  color:white;
}

#about-btn:hover{
  cursor: pointer;
  opacity: 9;
}


#close-form{
  color:  rgba(255,255,255,.4);
  font-size: 4.4em;
  padding: 0px 10px;
  position: absolute;
  right: -80px;
  font-weight:200;
  text-align: center;
  text-decoration: none;
  top: -200px;
  z-index: 1;
}
#close-form:hover{
  color: #bbb;
}

#close-about{
  color:  rgba(0,0,0,.4);
  font-size: 3.4em;
  padding: 0px 10px;
  position: absolute;
  right: 2px;
  font-weight:200;
  text-align: center;
  text-decoration: none;
  top: 0px;
  z-index: 1;
}
#close-about:hover{
  color: #bbb;
}
