#stars {
  height: 200%;
  position: relative;
  border-radius: 50%;
}

body {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #051729;
  background-image: radial-gradient(
    circle at 50% 120%,
    #fcfcbd,
    #104B88,
    #360349,
    #051729 60%
  );
}

.star {
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 2px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 10px white;
  animation-name: glow;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes glow {
  25% {
    opacity: 0.1;
  }
  50% {
    box-shadow: 0 0 40px white;
  }
}

@keyframes sky-rotate {
  100%{
    transform: rotate(360deg);
  }
}


#grid-canvas{
  border:none;
  position:fixed;
  top:0;
  left:0;
  z-index:5;
}
#grass-canvas{
  border:none;
  bottom:0;
  left:0;
  position:fixed;
  z-index:1;
}
.App {
  text-align: center;
  overflow: scroll;
}

.App-table{
  display: none;
}

.App-intro {
  font-size: large;
}

.App-header {
  background:none;
  height: 100px;
  padding: 3px;
  color: white;
  border:none;
  display:none;
}

h1 {
  font-size: 30px;
  width: 33%;
  font-weight: normal;
  position: absolute;
  top: 40%; left: 30px;
  color: #eee;
  text-shadow: 0 10px 30px hsla(0, 0%, 0%, 1);
}
form {
  width: 420px;
  padding: 25px;
  background-color: #bf5240;
  position: absolute;
  top: 40%; right: 40%;
  margin: 0 0;
  transition: top 1s;
  border-radius: 7%;
}

.lock-coords{
  color:#000;
}

.animate-lock{
  transform: rotateY(180deg);

  top: -250px;
  transition: transform 1s 1s, top 1s;
}

.lockbar {
  height: 350px; width: 320px;
  position: absolute;
  top: -230px;
  left: 41.5%;
  transform: rotateY(0deg);

  margin-left: -125px;
  border: 52px #bbb solid;
  border-bottom: none;
  border-radius: 125px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: -1;
  transition: transform 1s, top 1s 1s;
  transform-origin: 10% 50%;
}
.cutoff {
  height: 50%; width: 250px;
  background-color: hsl(0, 0%, 15%);
  margin-bottom: -30px;
  position: absolute;
  bottom: 0;
}


input[type=submit] {
  cursor: pointer;
  background-color: hsla(0, 0%, 5%, .7);
}
input[type=submit]:hover {
  box-shadow: 0 0 15px hsla(0, 0%, 100%, 1);
}

input {
  height: 50px; width: 75%;
  display: block;
  margin: 8px auto;
  font: 18px sans-serif;
  text-align: center;
  outline: 0;
  border: none;
  border-radius: 7px;
  background-color: hsla(0, 0%, 5%, .3);
  box-shadow: 0 0 7px hsla(0, 0%, 5%, .1) inset;
  color: #eee;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}

input::placeholder,textarea::placeholder {
  color:  #ccc !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}

textarea {
  height: 70px;
  width: 95%;
  display: block;
  margin: 8px auto;
  font: 18px sans-serif;
  text-align: center;
  outline: 0;
  border: none;
  border-radius: 7px;
  background-color: hsla(0, 0%, 5%, .3);
  box-shadow: 0 0 7px hsla(0, 0%, 5%, .0) inset;
  color: #eee;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  padding:5px;
  resize:none;
}

input:last-child {
  margin-top:25px;
  margin-bottom: 0;
}

#lock-canvas{
  background:black;
  min-width:200px;
  min-height:400px;
}

#canvas{
  width:100%;
  height:100%;
}


.modal{
  background-color: #eee;
  color:black;
  border-radius:7px;
  position: relative;
  margin:0 auto;
  padding: 0;
  display: block;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

@media (min-width: 60em) {
  .modal{
    height: auto;
    margin: 7% auto;
    max-height: 56em;
    min-height: 38em;
    max-width: 95%;
    width: 65%;
    padding: 4em;
  }
}


.modal-overlay{
  background: rgba(0,0,0,0.8);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index:15;
}
.modal-overlay:target{
  display: block;
  opacity: 1;
  pointer-events:auto;
  z-index: 99999;
}

#lock-header{
  text-align: center;
}
#form-header{
  text-align: center;
}
#close-modal{
  color:  #fff;
  font-size: 2.4em;
  padding: 0px 10px;
  position: absolute;
  right: -40px;
  text-align: center;
  text-decoration: none;
  top: -40px;
  z-index: 1;
}
#close-modal:hover{
  color: #bbb;
}
